.white-text {
	color: white;
}

.centered {
	display: flex; 
	flex-direction: column;
}

.title {
	display: flex; 
	justify-content: center;
}

.projects-row {
	display: flex; 
	flex-direction: row; 
	align-content: center; 
	justify-content: space-between;
}

.centered-text {
	text-align: center;
}

.testing-text-centered {
	display: flex;
	align-content: center;
	justify-content: center;
}

.tech {
	width: 150px;
}